<h2>Rearrange the words below to form a chain of compound words.</h2>

{{#each games as |game|}}
{{> wordblock}}
{{/each}} 

{{!-- {{#each wordsArray}}
  <div id="blockno{{@index}}" class="listitemClass">
    {{#if this}}
      <h5>{{this}}</h5>
    {{else}}
      <h5><input id="guess-box" /></h5>
    {{/if}}
  </div>
{{/each}} --}}