<h1>Puzzle Already Solved</h1>
<h1>{{compoundled}}</h1>
<h2>Time: {{time}} seconds</h2>
<h2>Number of Attempts {{numberOfAttempts}}</h2>
<a href="/game/{{nextLevel}}"><button class="next-level-button">Next Level</button></a>