<h2>Log In To Save Scores</h2>
{{#each dbGamesData}}
  <div class="user-puzzle-info">
    <h3 id="profile-puzzle-title"><a href="/game/{{this.dataValues.id}}">
        {{this.dataValues.id}}</a>
  </div>
{{/each}}