<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rearranger</title>
    <link rel="stylesheet" text="text/css" href="/css/styles.css" />
    <link
      href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&family=Inconsolata:wght@300;400&family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon.png" id="icon" />

  </head>

  <body>
    <header>
      <h1 id="header"><a href="/" title="Rearranger">Rearranger</a></h1>
    </header>
    <nav>
      {{! <a href="/">Home</a> }}
      {{#if loggedIn}}
        <a id="logout">Logout</a>
        <h1 id="username-welcome"> Welcome, {{username}}!</h1>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>

      <div class="maincontent">

        {{{body}}}

      </div>
      <footer><a
          href="https://github.com/fanny-travis-lenzlee-thomas"
          target="_blank"
        >Group Name | © 2023</a>
        <div id="confettiContainer"></div></footer>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>