<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rearranger</title>
    <link rel="stylesheet" text="text/css" href="/css/styles.css" />
    <link
      href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  </head>

  <body>
    <header>
      <h1>Rearranger</h1>
    </header>
    <nav>
      <a href="/">Logout</a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <aside>
        <h2>How to Play:</h2>
        <h3>Rearrange the words below to form a chain of compound words</h3>
      </aside>
      <div class="rearranger">
        <div id="imageListId">

          {{{body}}}
        </div>
      </div>
      <div id="outputDiv">
        <input id="outputvalues" type="text" value="" />
        <button id="submit-button">Submit</button>
      </div>
      <div id="results-container"></div>

    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/script.js"></script>
  </body>

</html>