{{#if loggedIn}}

  {{#unless currentLevel}}
    <button id="submit-button"><a href="/today">Today's Puzzle</a></button>
    {{! <button id="submit-button"><a href="game/1">First Puzzle</a></button> }}
    <button class="submit-button"><a href="/api/users/puzzles">All Puzzles</a></button>

  {{else}}
    <button id="submit-button"><a href="/today">Today's Puzzle</a></button>
    {{!-- <button id="submit-button"><a href="game/{{currentLevel}}">Next Puzzle</a></button> --}}
    <button class="submit-button"><a href="/api/users/puzzles">All Puzzles</a></button>

  {{/unless}}

{{else}}
  <button id="submit-button"><a href="/today">Today's Puzzle</a></button>
  <button id="submit-button"><a href="game/1">First Puzzle</a></button>
  <button class="submit-button"><a href="/puzzles">All Puzzles</a></button>

{{/if}}

<div id="instructions">
  <h2>How To Play:</h2>

  <p>Rearrange the word blocks to form a chain of compound words and click
    submit.</p>
</div>
<iframe
  width="420"
  height="345"
  src="https://www.youtube.com/embed/d8cMThiB-B8"
></iframe>