{{#if loggedIn}}

  {{#unless currentLevel}}
    <a href="/today"><button id="submit-button">Today's Puzzle</button></a>
    {{! <button id="submit-button"><a href="game/1">First Puzzle</a></button> }}
    {{! <a href="/api/users/puzzles">
      <button class="submit-button">All Puzzles</button></a> }}

  {{else}}
    <a href="/today"><button id="submit-button">Today's Puzzle</button></a>
    {{!-- <button id="submit-button"><a href="game/{{currentLevel}}">Next Puzzle</a></button> --}}
    {{! <a href="/allPuzz"><button class="submit-button">All Puzzles</button></a> }}

  {{/unless}}

{{else}}
  <a href="/today"><button id="submit-button">Today's Puzzle</button></a>
  <a href="game/1"><button id="submit-button">First Puzzle</button></a>

{{/if}}
<a href="/allPuzzles"><button class="submit-button">All Puzzles</button></a>

<div id="instructions">
  <h2>How To Play:</h2>

  <p>Rearrange the word blocks to form a chain of compound words and click
    submit.</p>
</div>
<iframe
  width="420"
  height="345"
  src="https://www.youtube.com/embed/d8cMThiB-B8"
></iframe>