{{#if loggedIn}}
  
  {{#unless currentLevel}}
  <button id="submit-button"><a href="game/1">Start Game</a></button>
  
  {{else}}
  
  <button id="submit-button"><a href="game/{{currentLevel}}">Start Game</a></button>
  
  {{/unless}}
  
  {{else}}
  
  <button id="submit-button"><a href="game/1">Start Game 1</a></button>
  
{{/if}}

<h2>How To Play:</h2>

<p>Rearrange the word blocks to form a chain of compound words and click submit.</p>

<iframe width="420" height="345" src="https://www.youtube.com/embed/kfBLXEfFHn4">
</iframe>