:root {
  --primary: #818589;
  --secondary: #D3D3D3;
  --tertiary: #899499;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  text-align: center;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--dark);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--quatrinary);
  background-color: var(--secondary);
}

#imageListId {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#imageListId div {
  margin: 0 4px 4px 4px;
  padding: 0.4em;
  display: inline-block;
}

#outputvalues {
  margin: 20px 2px 2px 2px;
  padding: 0.4em;
  padding-left: 1.5em;
  width: 250px;
  border: 2px solid dark-green;
  display: none;
}

.listitemClass {
  border: 1px solid #006400;
  width: 150px;
}

.height {
  height: 10px;
}

#guess-h5 {
  text-align: center;
}

#guess-box {
  text-align: center;
}

#submit-button {
  margin: 10px;
}

.hidden {display: none;}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 20px;
  /* flex: 0 0 50%; */
  max-width: 50%;
  padding: 15px;
  /* border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick; */
  background-color: #71797E;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

/* FORM */

form {
  width: 100%;
}

form .form-group {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}

form .form-input,
form .form-textarea {
  display: block;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

form label,
form .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}

form .form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

form .form-input.form-input-squared {
  border-radius: 0;
}

form [type='checkbox'],
form [type='radio'] {
  display: inline-block;
}

label form [type='checkbox'], label
form [type='radio'] {
  display: inline-block;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}
button,
select {
  /* 1 */
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

.maincontent {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}