:root {
  --primary: ghostwhite;
  --secondary: ghostwhite;
  --tertiary: #899499;
  --quatrinary: linen;
  --success: honeydew;
  --success-1: darkseagreen;
  --light: ghostwhite;
  --dark: #414953;
  --error: indianred;
  --border-radius: 0.4rem;
  --confetti-1: aliceblue;
  --confetti-2: aqua;
  --confetti-3: darkgreen:
}

* {
  font-family: avenir;
  color: var(--dark);
}

body {
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--light);
}
header {
  text-align: center;
  background-color: var(--success-1);

  font-family: "Russo One", sans-serif;
}

#username-welcome {
  text-align: center;
  padding: 5px;
  color: var(--success-1);
}

nav {
  display: flex;
  background-color: var(--dark);
}

nav a {
  color: var(--light);
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--success-1);
}

#imageListId {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#imageListId div {
  margin: 0 4px 4px 4px;
  padding: 0.4em;
  display: inline-block;
}
.listitemClass {
  background-color: var(--secondary);
  border-radius: var(--border-radius);
  color: var(--dark);
  font-family: "Inconsolata", monospace;
  width: 50px;
}

#guess-box {
  text-align: center;
  background-color: transparent;
  font: inherit;
  border-width: 0 0 1;
  border-color: var(--dark);
  box-sizing: content-box;
  width: 90%;
}

#submit-button {
  margin: 10px;
  background-color: var(--tertiary);
  border-radius: var(--border-radius);
  color: var(--light);
  font-family: "Inconsolata", monospace;
  width: 150px;
  height: 50px;
}

#guess-h5 {
  text-align: center;
}

#you-win {
  background-color: var(--success);
  width: 400px;
  border-radius: 10px;
  border: 1px solid var(--dark);
  color: var(--dark);
}
#losing-result {
  background-color: var(--error);
  text-align: center;
  width: 400px;
  border-radius: 10px;
  border: 1px solid var(--dark);
  color: var(--dark);
}

#next-level-button {
  margin: 10px;
  background-color: var(--success);
  border-radius: var(--border-radius);
  color: var(--dark);
  font-family: "Inconsolata", monospace;
  width: 150px;
  height: 50px;
}

/* Output order styling */
#outputvalues {
  margin: 20px 2px 2px 2px;
  padding: 0.4em;
  padding-left: 1.5em;
  width: 250px;
  border: 2px solid dark-green;
  display: none;
}

.listitemClass {
  border: 1px solid #006400;
  width: 150px;
}

.height {
  height: 10px;
}

#guess-h5 {
  text-align: center;
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--success-1);
  color: var(--light);
}

.hidden {
  display: none;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 20px;
  max-width: 50%;
  padding: 15px;
  background-color: #71797e;
  color: var(--light);
  display: inline-grid;
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--success-1);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
}

#submit-button {
  margin: 10px;
}

form {
  width: 100%;
}

form .form-group {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}
#results-container {
  text-align: center;
  display: inline-block;
}
.rearranger {
  background-color: var(--quatrinary);
  padding: 10px;
  border: 3px solid var(--dark);
}

#how-to-play {
  font-size: 10px;
}
#score-div {
  margin: 5px;
}
form .form-input,
form .form-textarea {
  display: block;
}

.hidden {
  display: none;
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--success-1);
  color: var(--light);
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

form label,
form .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}

form .form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

form .form-input.form-input-squared {
  border-radius: 0;
}

form [type="checkbox"],
form [type="radio"] {
  display: inline-block;
}

label form [type="checkbox"],
label form [type="radio"] {
  display: inline-block;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}
button,
select {
  /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.maincontent {
  /* flex: 4;
  background-color: #fff; */
  padding: 50px;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; */
}

h1 a {
  text-decoration: none;
  color: var(--dark);
  padding: 10px;
  border-radius: 5px;
  font-size: 75px;
}

#header {
  background-color: (var(--secondary));
}

button,
input {
  /* 1 */
  overflow: visible;
}
button,
select {
  /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}
.confetti-piece {
  position: absolute;
  width: 10px;
  height: 30px;
  background: var(--success-1);
  top: 0;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  -webkit-transform: rotate(-40deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 182ms;
  -webkit-animation-duration: 1116ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  -webkit-transform: rotate(4deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 161ms;
  -webkit-animation-duration: 1076ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  -webkit-transform: rotate(-51deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 481ms;
  -webkit-animation-duration: 1103ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  -webkit-transform: rotate(61deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 334ms;
  -webkit-animation-duration: 708ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  -webkit-transform: rotate(-52deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 302ms;
  -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  -webkit-transform: rotate(38deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 180ms;
  -webkit-animation-duration: 1168ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  -webkit-transform: rotate(11deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 395ms;
  -webkit-animation-duration: 1200ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  -webkit-transform: rotate(49deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 14ms;
  -webkit-animation-duration: 887ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  -webkit-transform: rotate(-72deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 149ms;
  -webkit-animation-duration: 805ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  -webkit-transform: rotate(10deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 351ms;
  -webkit-animation-duration: 1059ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  -webkit-transform: rotate(4deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 307ms;
  -webkit-animation-duration: 1132ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  -webkit-transform: rotate(42deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 464ms;
  -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  -webkit-transform: rotate(-72deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 429ms;
  -webkit-animation-duration: 818ms;
}
.confetti-piece:nth-child(odd) {
  background: var(--success);
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  -webkit-animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  -webkit-animation-duration: 2500ms;
  -webkit-animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
  background: var(--error);
}

.flip {
  animation: flip 500ms ease forwards;
}


@-webkit-keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(350px);
  }
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}




@media all and (max-width: 652px) {
  h1 a {
    font-size: 50px;
  }
  #imageListId div {
    display: block;
    margin: 0 auto;
    width: 90%; 
    height: 60px;
    text-align: center;
  }
  

  #losing-result {
    width: 150px;
    font-size: 1.2rem;
  }
  
  .listitemClass {
    width: 100px;
  }
  
  #you-win {
    width: 170px;
    font-size: 25px;
  }
}


