:root {
  --primary: #77ddf9;
  --secondary: #ffa0a3;
  --tertiary: #899499;
  --quatrinary: #6c6b67;
  --success: lightgreen;
  --light: #eafbff;
  --dark: #414953;
  --error: red;
  --border-radius: 0.4rem;
}
body {
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--light);
}
header {
  padding: 5px;
  text-align: center;
  color: var(--dark);
  font-family: "Russo One", sans-serif;
}
nav a {
  color: var(--dark);
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

#imageListId {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#imageListId div {
  margin: 0 4px 4px 4px;
  padding: 0.4em;
  display: inline-block;
}
.listitemClass {
  background-color: var(--secondary);
  border-radius: var(--border-radius);
  color: var(--dark);
  font-family: "Inconsolata", monospace;
  width: 150px;
}
#guess-box {
  text-align: center;
  background-color: transparent;
  font: inherit;
  border-width: 0 0 1;
  border-color: var(--dark);
  box-sizing: content-box;
  width: 90%;
}

#submit-button {
  margin: 10px;
  background-color: var(--tertiary);
  border-radius: var(--border-radius);
  color: var(--light);
  font-family: "Inconsolata", monospace;
  width: 150px;
  height: 50px;
}
#guess-h5 {
  text-align: center;
}

#next-level-button {
  margin: 10px;
  background-color: var(--success);
  border-radius: var(--border-radius);
  color: var(--light);
  font-family: "Inconsolata", monospace;
  width: 150px;
  height: 50px;
}

/* Output order styling */
#outputvalues {
  margin: 20px 2px 2px 2px;
  padding: 0.4em;
  padding-left: 1.5em;
  width: 250px;
  border: 2px solid dark-green;
  display: none;
}

.listitemClass {
  border: 1px solid #006400;
  width: 150px;
}

.height {
  height: 10px;
}

#guess-h5 {
  text-align: center;
}

#guess-box {
  text-align: center;
}

#submit-button {
  margin: 10px;
}

form {
  width: 100%;
}

form .form-group {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}

form .form-input,
form .form-textarea {
  display: block;
}

.hidden {
  display: none;
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--primary);
  color: var(--light);
}
form label,
form .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}

form .form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

form .form-input.form-input-squared {
  border-radius: 0;
}

form [type="checkbox"],
form [type="radio"] {
  display: inline-block;
}

label form [type="checkbox"],
label form [type="radio"] {
  display: inline-block;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}
button,
select {
  /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.maincontent {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

button,
input {
  /* 1 */
  overflow: visible;
}
button,
select {
  /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
